.banner {
  color: white;
  object-fit: contain;
  height: 448px;
}
.banner_content {
  margin-left: 30px;
  padding-top: 10px;
}
.banner_title {
  margin-top: 70px;
  font-weight: 800;
  font-size: 3rem;
  padding-bottom: 0.3rem;
  text-shadow: black;
}
.description {
  font-size: medium;
  width: 45 rem;
  line-height: 1.3;
  padding-top: 1rem;
  font-size: 0.8rem;
  max-width: 360px;
  height: 80px;
  text-shadow: black;
}
.button_one {
  cursor: pointer;
  color: white;
  outline: none;
  font-weight: 700;
  border: none;
  border-radius: 0.2vw;
  padding-right: 2rem;
  padding-left: 2rem;
  padding-top: 0.5rem;
  margin-right: 1rem;
  padding-bottom: 0.5rem;
  background-color: rgba(51, 51, 51, 0.5);
}
.button_one:hover {
  color: black;
  background-color: cornsilk;
  transition: all 0.2s;
}
.fade {
  height: 11rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
}
